:root {
  --background-main: white;
  --second-background-color: #a6a9fe;
  --gradient-color: #d9dbff;
  --button-color: rgba(117, 122, 255, 255);
  --header-color: white;
  --table-background: white;
  --table-hover-background: rgba(0, 0, 0, 0.16);
  --borders-table: none;
  --shadow: drop-shadow(0 3px 3px #777777);

  --font-family-sans-serif: "Montserrat", "Helvetica", sans-serif;
  --main-font-family-sans-serif: "Saira", "Helvetica", sans-serif;

  /*--night: linear-gradient(to right, #222350 50%, #6264a2 50%);*/

  --night: url(./images/lines-overlay.png);
  --day: linear-gradient(135deg, var(--second-background-color), var(--gradient-color));
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: var(--background-main);
  font-family: var(--main-font-family-sans-serif);

}

main,
h1,
h2,
h3,
span,
th {
  font-family: var(--main-font-family-sans-serif);
  font-weight: 200;
}

h1,
h2,
h3,
span {
  color: var(--header-color);
}

span {
  font-weight: 300;
}


h1 {
  font-size: clamp(2rem, 20vw, 5rem);
}

h2 {
  font-size: clamp(1.2rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

p {
  font-size: clamp(0.7rem, 5vw, 1.5rem);
  padding-bottom: 15px;
  padding-left: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
}


#top-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 50vh;
  width: 100%;
  padding-bottom: 0;
  clip-path: ellipse(150% 100% at top);
}

#top-half.night {
  background-image:
    var(--night),
    linear-gradient(to right, #222350 50%, #6264a2 50%);
  background-repeat: repeat;
  background-size: auto, cover;

}

#top-half.daytime {
  background: var(--day);
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px 15px 0 15px;
}

nav img {
  height: 25px;
  filter: invert(1);
  margin-top: 5px;
}

#favorite-icon {
  padding-left: 20px;
}

#top-menu {
  position: relative;
  z-index: 10;
  cursor: pointer;
}


#dropdown-menu {
  display: none;
  position: absolute;
  top: 16%;
  align-items: center;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
  white-space: nowrap;
  filter: drop-shadow(0 3px 3px #777777);
  font-weight: bolder;
  z-index: 20;
}

#dropdown-menu.active {
  display: flex;
}

#dropdown-menu p {
  margin-left: 5px;
}

#x-icon {
  display: inline-flex;
  min-width: 10px;
  flex-shrink: 1;
  filter: invert(0.6);
  padding: 0px;
  margin-left: 6px;
}


#search-row {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

#searchbar {
  display: inline-flex;
  width: 120px;
  height: 25px;
  margin: 5px;
  padding-left: 5px;
}

#searchButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-top: 0;
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  color: black;
  filter: drop-shadow(0 1px 1px #777777);
}

#searchButton img {
  filter: invert(0);
  margin: 0;
  padding: 3px;
  aspect-ratio: 1 / 1;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


#temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 70%;
  flex: 1;
  padding-left: 20px;
  white-space: nowrap;
}

#big-symbol {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 70%;
  flex: 1;
  padding-right: 30px;
  padding-top: 5px;
}

#big-symbol img {
  width: clamp(50px, 70%, 150px);
  height: auto;
}

#sun {
  display: flex;
  flex-basis: 100%;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

#sunrise-sunset {
  width: 100vw;
  padding: 0 10px 90px;
  white-space: nowrap;

}

#sunrise-sunset tr {
  width: 100;
  border-spacing: 0;
}

#sunrise-sunset th {
  display: inline-flex;
  text-align: start;
  justify-content: space-around;
  width: 25%;
  border: none;
  color: var(--header-color);
  font-size: clamp(0.7rem, 5vw, 1.8rem);
  flex-shrink: 1;
}

#button-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

button {
  background-color: var(--button-color);
  border: none;
  border-radius: 50%;
  filter: drop-shadow(0 3px 3px #777777);
  z-index: 30;
  height: 67px;
  width: 67px;
  margin-top: -6vh;
  justify-content: center;
  cursor: pointer;
}

button img {
  width: 64px;
  aspect-ratio: 1 / 1;
  filter: invert(1);
}

#next-button {
  visibility: visible;
  padding-left: 5px;
}

#previous-button {
  visibility: hidden;
  padding-right: 5px;
}

#bottom-half {
  display: flex;
  height: 50vh;
  padding-top: 30px;
}

#weather-table {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  gap: 20px;
}

.row,
.forecast-row {
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-self: center;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--table-background);
}

.row:hover {
  background-color: var(--table-hover-background);
}

/*todaysContainer*/
#todays-weather {
  display: block;
  width: 100%;
  height: 100%;
}

/*weatherToday*/
#weather-today {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.day,
.temperature {
  font-size: clamp(1rem, 2vw, 2.5rem);
}

.day {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  height: 100%;
  border: var(--borders-table);
  line-height: 2;
  padding-left: 20px;
}

.icon {
  width: 20%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: var(--borders-table);
  line-height: 3;
}

.icon img {
  width: 9vw;
  height: auto;
}

.temperature {
  width: 30%;
  height: 100%;
  display: inline-flex;
  justify-content: end;
  align-items: center;
  border: var(--borders-table);
  line-height: 3;
  padding-right: 5px;
}


@media screen and (max-width: 950px) and (orientation: landscape) {
  h1 {
    font-size: clamp(1.5rem, 4vw, 5rem);
    line-height: 1.1;
  }

  h2 {
    font-size: clamp(1rem, 1.8vw, 2.5rem);
  }

  h3 {
    font-size: clamp(1rem, 1.3vw, 2rem);
  }

  #main-container {
    width: 100vw;
  }

  #top-half {
    height: 40vh;
    flex-direction: column;
    align-items: center;
  }

  nav {
    padding: 10px 0 0 10px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding-bottom: 20px;
  }

  #temp,
  #big-symbol {
    display: inline-block;
    min-width: 90px;
    max-width: 100%;
    height: 100%;
    padding: 0;
  }

  #big-symbol img {
    max-height: 100%;
    aspect-ratio: 1 / 1;
  }

  #sun {
    display: inline-block;
    align-self: end;
    max-height: 40px;
    width: 20%;
    flex-basis: 50%;
    padding-bottom: 8px;
  }

  #sunrise-sunset {
    width: 100%;
    padding: 0;
  }

  #sunrise-sunset tr {
    width: 100%;
  }

  #sunrise-sunset th {
    font-size: clamp(0.9rem, 1.3vw, 1.8rem);
    width: 25%;
  }

  #button-container {
    height: 20px;
  }

  #bottom-half {
    justify-content: center;
    padding-top: 0;
  }

  #todays-weather {
    width: 50%;
  }

  #todays-weather p {
    padding-bottom: 0;
  }

  #weather-table {
    width: 50%;
    font-size: clamp(0.7rem, 1.3vw, 1.5rem);
  }

  #weather-today {
    width: 100%;
    font-size: clamp(0.7rem, 1.3vw, 1.5rem);
  }

  .icon {
    align-items: center;
  }

  .icon img {
    width: 4vw;
  }

  .day,
  .temperature {
    line-height: 1.2;
    align-items: center;
    font-size: clamp(1rem, 1vw, 2.3rem);
  }
}


/*Media query for Ipad mini 768x1024*/
@media screen and (min-width: 668px) and (max-width: 1023px) and (orientation: portrait) {
  #top-half {
    width: 100vw;
    height: 50vh;
  }

  #dropdown-menu {
    width: auto;
  }

  #searchbar {
    width: 200px;
    font-size: clamp(1rem, 3vw, 1.5rem);
    height: 30px;
  }

  #searchButton {
    width: 100%;
    height: auto;
    margin-right: 10px;
  }

  #searchButton img {
    margin: 0;
  }

  #x-icon {
    margin: 0;
    padding: 0;
  }



}


/*Media query for tablet, 668px - 1023px*/
@media screen and (min-width: 668px) and (max-width: 1023px) and (orientation: landscape) {
  main {
    width: 100vw;
  }

  #main-container {
    margin: 0;
  }

  #dropdown-menu {
    top: 15%;
  }

  #search-row,
  #sunrise-sunset,
  .row {
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
  }
}


/*Media query for desktop, at least 1024px*/
@media screen and (min-width: 1024px) {

  header {
    width: 40%;
  }

  #temp {
    justify-content: start;
    align-items: end;
  }

  #big-symbol {
    justify-content: start;
  }

  #bottom-half {
    height: 40vh;
    max-height: 50vh;
    width: 100%;
    justify-content: center;
    padding-top: 15px;
  }

  #weather-table {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #todays-weather {
    width: 40%;
    align-items: flex-start;
  }

  #weather-today {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    justify-content: start;
    align-items: center;
    margin: 10px;
    border: 1px solid var(--table-hover-background);
    padding: 15px;
  }

  .day {
    font-size: clamp(1rem, 3vw, 2rem);
    line-height: 1.1;
    padding-top: 10px;
    justify-content: center;
    padding: 0;
  }

  .icon {
    width: auto;
  }

  .icon img {
    width: 80%;
  }

  .temperature {
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.1;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
  }
}