:root {
  --background-main: white;
  --second-background-color: #a6a9fe;
  --gradient-color: #d9dbff;
  --font-family-sans-serif: "Montserrat", "Helvetica", sans-serif;
  --second-font-family-sans-serif: "Saira", "Helvetica", sans-serif;
  --button-color: rgba(117, 122, 255, 255);
  --header-color: white;
  --table-background: white;
  --table-hover-background: rgba(0, 0, 0, 0.16);
  --borders-table: none;
  --shadow: drop-shadow(0 3px 3px #777777);
}

/*rgba(154,158,255,255)*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: var(--background-main);

}

main,
h1,
h2,
h3,
span,
th {
  font-family: var(--second-font-family-sans-serif);
  font-weight: 200;
}

h1,
h2,
h3,
span {
  color: var(--header-color);
}

span {
  font-weight: 300;
}


main {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
  gap: 0;
}


#top-half {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, var(--second-background-color), var(--gradient-color));
  height: 50vh;
  padding-bottom: 0;
  position: relative;
  clip-path: ellipse(150% 100% at top);
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

nav {
  display: flex;
  padding: 30px 15px 0 15px;
  width: 100%;
  height: auto;
  justify-content: start;
  align-items: center;

}

nav img {
  width: auto;
  height: 25px;
  filter: invert(1);
  margin-top: 5px;
}

#top-menu {
  position: relative;
  z-index: 10;
  cursor: pointer;
}


#dropdown-menu {
  position: absolute;
  top: 16%;
  width: auto;
  height: auto;
  background-color: rgb(242, 242, 242);
  white-space: nowrap;
  border-radius: 5px;
  filter: drop-shadow(0 3px 3px #777777);
  font-weight: bolder;
  display: none;
  align-items: center;
  z-index: 20;
}

#dropdown-menu.active {
  display: flex;
}

#x-icon {
  min-width: 10px;
  flex-shrink: 1;
  filter: invert(0.6);
  display: inline-flex;
  padding: 0px;
  margin-left: 6px;
  margin-top: 0;
}

#dropdown-menu p {
  margin-left: 5px;
}

#search-row {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

#searchbar {
  width: 120px;
  display: inline-flex;
  height: 25px;
  margin: 5px;
  padding-left: 5px;
}

#searchButton {
  border-radius: 0;
  background-color: rgb(230, 230, 230);
  display: inline-flex;
  color: black;
  border-radius: 5px;
  padding: 3px;
}

#searchButton {
  width: 25px;
  height: 25px;
  filter: drop-shadow(0 1px 1px #777777);
  margin-top: 0;
  align-items: center;
  justify-content: center;
}

#searchButton img {
  filter: invert(0);
  margin: 0;
  aspect-ratio: 1 / 1;
  padding: 3px;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

h1 {
  font-size: clamp(2rem, 20vw, 5rem);
}

h2 {
  font-size: clamp(1.2rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

#temp {
  height: 70%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: nowrap;
  flex: 1;
}

#big-symbol {

  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 30px;
  padding-top: 5px;
  height: 70%;
}

#big-symbol img {
  width: clamp(50px, 70%, 150px);
  height: auto;
}

#sun {
  display: flex;
  flex-basis: 100%;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

#sunrise-sunset {
  width: 100vw;
  padding-bottom: 90px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;

}

#sunrise-sunset tr {
  width: 100;
  border-spacing: 0;
}

#sunrise-sunset th {
  width: 25%;
  justify-content: start;
  border: none;
  color: var(--header-color);
  text-align: start;
  display: inline-flex;
  flex-shrink: 1;
  font-size: clamp(0.7rem, 5vw, 1.5rem);
  justify-content: space-around;
}

#button-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

button {
  background-color: var(--button-color);
  border-radius: 50%;
  border: none;
  filter: drop-shadow(0 3px 3px #777777);
  z-index: 30;
  margin-top: -6vh;
  height: 67px;
  width: 67px;
  justify-content: center;
}

#next-button {
  visibility: visible;
  padding-left: 5px;
}

#previous-button {
  visibility: hidden;
  padding-right: 5px;
}

button img {
  filter: invert(1);
  width: 64px;
  aspect-ratio: 1 / 1;
}

#bottom-half {
  display: flex;
  height: 50vh;
  padding-top: 30px;
}

#weather-table {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 15px;
}

.row {
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-self: center;
  white-space: nowrap;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  background-color: var(--table-background);
}

.row:hover {
  background-color: var(--table-hover-background);
}


#weather-today {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 15px;
}

.forecast-row {
  display: flex;
  flex-direction: row;

  align-self: flex-start;
  justify-self: center;
  white-space: nowrap;
  width: 100%;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
  background-color: var(--table-background);
}

p {
  font-size: clamp(0.7rem, 5vw, 1.5rem);
  padding-bottom: 15px;
}

.day {
  width: 50%;
  display: inline-flex;
  justify-content: start;
  border: var(--borders-table);
  line-height: 3;
  align-items: center;
  padding-left: 20px;
}

.icon img {
  width: 4.5vh;
  height: auto;
  align-items: center;
}

.icon {
  width: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: var(--borders-table);
  line-height: 3;
}

.temperature {
  width: 30%;
  line-height: 3;
  display: inline-flex;
  justify-content: end;
  align-items: center;
  border: var(--borders-table);
  padding-right: 5px;
}



@media screen and (max-width: 950px) and (orientation: landscape) {
  #main-container {
    width: 100vw;
  }

  #top-half {
    height: 60vh;
    flex-direction: column;
    align-items: center;
  }

  header {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    font-size: clamp(1.5rem, 7vw, 5rem);
    line-height: 1.1;
  }

  h2 {
    font-size: clamp(1.1rem, 4vw, 2.5rem);
  }

  h3 {
    font-size: clamp(1rem, 3vw, 2rem);
  }

  #sunrise-sunset th {
    font-size: clamp(1.1rem, 2.5vw, 1.8rem);
  }

  #big-symbol img {
    width: 60%;
    max-width: 200px;
    height: auto;
  }

  #bottom-half {
    justify-content: center;
  }

  #weather-table,
  #weather-today {
    width: 50%;
  }
}


/*Media query for Ipad mini 768x1024*/
@media screen and (min-width: 668px) and (max-width: 1023px) and (orientation: portrait) {
  #top-half {
    width: 100vw;
    height: 50vh;
  }

  #dropdown-menu {
    width: auto;
  }

  #searchbar {
    width: 200px;
    font-size: clamp(1rem, 3vw, 1.5rem);
    height: 30px;
  }

  #searchButton {
    width: 100%;
    height: auto;
    margin-right: 10px;
  }

  #searchButton img {
    margin: 0;
  }

  #x-icon {
    margin: 0;
    padding: 0;
  }



}


/*Media query for tablet, 668px - 1023px*/
@media screen and (min-width: 668px) and (max-width: 1023px) and (orientation: landscape) {
  main {
    width: 100vw;
  }

  #main-container {
    margin: 0;
  }

  #dropdown-menu {
    top: 15%;
  }

  #search-row,
  #sunrise-sunset,
  .row {
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
  }
}


/*Media query for desktop, at least 1024px*/
@media screen and (min-width: 1024px) {

  header {
    width: 40%;
  }

  #temp {
    justify-content: start;
    align-items: end;
  }

  #big-symbol {
    justify-content: start;
  }

  #bottom-half {
    height: 40vh;
    width: 100%;
    justify-content: center;
  }

  #weather-table {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #weather-today {
    width: 40%;
    display: none;
    justify-content: center;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    justify-content: start;
    align-items: center;
    margin: 10px;
    border: 1px solid var(--table-hover-background);
    padding: 15px;
  }

  .day {
    font-size: clamp(1rem, 3vw, 2rem);
    line-height: 1.1;
    padding-top: 10px;
    justify-content: center;
    padding: 0;
  }

  .icon {
    height: 20vh;
    width: auto;
  }

  .icon img {
    width: 80%;
  }

  .temperature {
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.1;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
  }
}